/getgeeks/deploys/packages/
/getgeeks/project/frontend/logs/
/yodapp/logs/
/getgeeks/project/frontend/.pabotsuitenames
/getgeeks/project/backend/logs/
/config.py
/getgeeks/project/frontend/resources/factories/Test.py
